* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: #fff;
    width: 100%;
    min-height: 100vh;
}

.top {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.top .tries {
    margin-left: 10px;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.game .row {
    display: flex;
    gap: 5px;
}

.game .row .input {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    outline: none;
    caret-color: transparent;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.game .row.active .input {
    background-color: transparent;
    border: 3px solid #888;
    cursor: pointer;
}

.game .row.active .input:focus {   
    border-bottom: 7px solid #888;
}

.game .row.disabled .input:focus {   
    outline: none;
}

.game .row .input.right {
    color: green !important;
}
.game .row .input.wrong {
    color: red !important;
}
.game .row .input.include {
    color: gold !important;
}

.restart {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.restart:hover {
    background-color: #444;
}