* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --gradient-1: #f29147;
    --gradient-2: #fdbb2d;
    --header-hover: #fdbb2d;
    --input-disabled-bg: #f7a33c;
    --restart-bg: #f7a33c;
}

html.dark {
    --gradient-1: #1b3137;
    --gradient-2: #335C67;
    --header-hover: #335c677a;
    --input-disabled-bg: #24434b;
    --restart-bg: #24434b;
}

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, var(--gradient-1) 0%, var(--gradient-1) 30%, var(--gradient-2) 100%);
    color: #fff;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.header .content {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header .content .gameModes {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.header .content .gameModes > div {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    transition: .2s;
    border-radius: 5px;
    cursor: pointer;
}

.header .content .gameModes > div:hover,
.header .content .gameModes > div.active {
    background-color: var(--header-hover);
}

.header .content .gameModes > div.disabled {
    opacity: .5;
}

.header .theme {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .theme .toggle {
    padding-top: 3px;
}

.header .theme .toggle img {
    height: 24px;
}


.container > .content {
    position: absolute;
    top: 70px;
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
}

.top {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.top .tries {
    margin-left: 10px;
}

.games {
    width: 90%;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.game .row {
    display: flex;
    gap: 5px;
}

.game .row .input {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--input-disabled-bg);
    color: #fff;
    border-radius: 5px;
    outline: none;
    caret-color: transparent;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.game .row.active .input {
    background-color: transparent;
    border: 3px solid var(--gradient-2);
    cursor: pointer;
}

.game .row.active .input:focus {   
    border-bottom: 7px solid var(--gradient-2);
}

.game .row.disabled .input:focus {   
    outline: none;
}

.game .row .input.right {
    color: green !important;
}
.game .row .input.wrong {
    color: red !important;
}
.game .row .input.include {
    color: #ffe100 !important;
}

.restart {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: var(--restart-bg);
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.restart:hover {
    background-color: var(--gradient-2);
}

/* responsiveness */

@media only screen and (max-width: 768px) {
    .game .row .input {
        width: 70px;
        height: 70px;
        font-size: 42px;
    }
}

@media only screen and (max-width: 500px) {
    .header .content .gameModes > div.disabled {
        display: none;
    }

    .game .row .input {
        width: 50px;
        height: 50px;
        font-size: 32px;
    }
}