* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: radial-gradient(circle, #f29147 0%, #f29147 30%, #fdbb2d 100%); */
    background: radial-gradient(circle, #1b3137 0%, #1b3137 30%, #335C67 100%);
    color: #fff;
    width: 100%;
    min-height: 100vh;
}

.top {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.top .tries {
    margin-left: 10px;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.game .row {
    display: flex;
    gap: 5px;
}

.game .row .input {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24434b;
    color: #fff;
    border-radius: 5px;
    outline: none;
    caret-color: transparent;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.game .row.active .input {
    background-color: transparent;
    border: 3px solid #335C67;
    cursor: pointer;
}

.game .row.active .input:focus {   
    border-bottom: 7px solid #335C67;
}

.game .row.disabled .input:focus {   
    outline: none;
}

.game .row .input.right {
    color: green !important;
}
.game .row .input.wrong {
    color: red !important;
}
.game .row .input.include {
    color: #ffe100 !important;
}

.restart {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #24434b;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.restart:hover {
    background-color: #335C67;
}